<div class="container">
  <div class="row">
    <div class="form-group col-6 mx-auto mt-4">
      <div class="title ">
        <h7>必填欄位*</h7>
        <h2 class="text-center">請輸入你的支出</h2>
      </div>
      <form action="/records" method="POST" style="width: 50%; margin: auto">
        <div>
          <label for=" name">名稱＊</label>
          <input type="text" placeholder="請輸入名稱..." name="name" id="name" required>
        </div>
        <div>
          <label for="date">日期＊</label>
          <input type="date" class="form-control" id="date" name="date" value="{{#if date}}{{date}}{{/if}}"
            max="{{limitDate}}" required>
        </div>
        <div class="row justify-content-center sl">
          <label for="exampleSelect1">支出類別*</label>
          <div class="input-group col-sm-4">
            <select class="form-control" id="categoryName" style="cursor: pointer" name="categoryName" required>
              <option value="" disabled selected>支出類別</option>
              <option value="fas fa-home">家居物業</option>
              <option value="fas fa-shuttle-van">交通出行</option>
              <option value="fas fa-grin-beam">休閒娛樂</option>
              <option value="fas fa-utensils">餐飲食品</option>
              <option value="fas fa-pen">其他</option>
            </select>
          </div>
        </div>
        <div>
          <label for=" amount">金額＊</label>
          <input type="number" placeholder="請輸入金額..." name="amount" id="amount" required>
        </div>
        <div class="row justify-content-center sl">
          <button type="submit" class="btn btn-secondary btn-block">新增支出</button>
      </form>
    </div>
  </div>
</div>